.txt-sec{
    width: 45%;
    background:#fff;
    margin: 10px 5px;
    padding: 10px 20px;
    float:right;
}
.heading-blue{
    color: blue;
    font-size: 18px;
}
.txt-sec p{
    color: #858585;
    font-size: 16px;
    padding: 10px 0;
    line-height: 30px;
}
.btn-blue{
    background: blue;
    color: white;
    padding: 10px 15px;
    border-radius: 50px;
    text-decoration: none;
    float: right;
}
.btn-blue:hover{
    background: black;
}
.clear{
    clear: both;
}
